<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/"><img src="../static/assets/images/go-home.png" width="30" height="30" alt="">
    Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/users">users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fuel">fuel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cars">cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">maintanance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">fuel log</a>
      <li class="nav-item">
        <a class="nav-link" href="#">maintanance log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">consumption cost</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">maintenance cost</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    </ul>
</nav>